.menu-title {
    text-align: center;
    margin: 20px 0 20px;
}

.menu-title h1 {
    font-size: 42px;
    margin-bottom: 5px;
}

.title-decoration {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title-decoration span {
    width: 80px;
    height: 2px;
    background: #000;
}
